@model webproje.Models.Marka

@{
    ViewBag.Title = "Marka Güncelle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-sm-4">
            <h3>Markalar</h3>

            <ul class="nav nav-pills flex-column" style="font-weight: bold;">
                <li class="nav-item">
                    <a class="nav-link text-black "  href="@Url.Action("MarkaListele", "Marka")">LİSTELE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="@Url.Action("MarkaEkle", "Marka")">EKLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black " href="@Url.Action("MarkaSil", "Marka")">SİL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="background-color:steelblue"  href="@Url.Action("MarkaGuncelle", "Marka")">GÜNCELLE</a>
                </li>

            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Marka Bilgileri</h4>
                    <hr />

                    @Html.HiddenFor(model => model.markaId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.markaAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.markaAdi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.markaAdi, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Güncelle" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>



