
@using webproje.Models
@model List<webproje.Models.Uye>


@{

    ViewBag.Title = "Üye Listele";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-sm-3">
            <h3>Üyeler</h3>
            <ul class="nav nav-pills flex-column" style="font-weight: bold;">
                <li class="nav-item">
                    <a class="nav-link active " style="background-color:steelblue" href="@Url.Action("UyeListele", "Uye")">LİSTELE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="@Url.Action("UyeEkle", "Uye")">EKLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black " href="@Url.Action("UyeSil", "Uye")">SİL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="@Url.Action("UyeGüncelle", "Uye")">GÜNCELLE</a>
                </li>

            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-9">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Üye Id</th>
                    <th>Üye Adı</th>
                    <th>Üye Soyadı</th>
                    <th>Eposta</th>
                    <th>Şifre</th>
                    <th>Telefon</th>
                    <th>Adres Id</th>
                    <th>İşlemler</th>
                </tr>
                <tbody>
                    @foreach (var uye in Model)
                    {
                        <tr>
                            <td>@uye.uyeId</td>
                            <td> @uye.uyeAdi</td>
                            <td>@uye.uyeSoyadi</td>
                            <td> @uye.eposta</td>
                            <td>@uye.sifre</td>
                            <td> @uye.telefon</td>
                            <td>@uye.uyeAdresId</td>
                            <td>
                                <a href="@Url.Action("UyeSil", "Uye", new { uyeId=uye.uyeId })" class="btn btn-danger btn-sm  fw-bold">Sil</a>
                                <a href="@Url.Action("UyeGuncelle", "Uye", new { uyeId=uye.uyeId})" class="btn btn-warning btn-sm fw-bold">Güncelle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

